body{
    background-color:whitesmoke;
    display: flex;
}
fieldset {
    background-color: white;
    margin-top: 8%;
    box-shadow: 100px black;
    border: none;
    
    border-radius: 10px 10px 10px 10px;
}
.parent{

    display: inline-block;
    margin-left: 30%;
    margin-right: 35%;
    margin-bottom: 100%;
}
form div {
    padding: 2px;
}
.image-facebook {
    color: black;
    margin-left: 0.4%;
    margin-top: 10%;
    display: inline-block;
    width: 400px;
    height: 250px;
}
.image-facebook h2 {
    margin-left: 80px;
    margin-right: -30%;
    margin-top: -25%;
    text-align: center  ;

}
input::placeholder{
    color: grey;
    font-weight: lighter;
}
.size{
    
    border: none;
    
    width:450px;
    height: 30px;
    font-size: 1em;
    background-color: whitesmoke;
       border-color: black;
}
.input{
    
    border: none;
    border-bottom: 2% black;
    height: 30px;
    font-size: 1em;
    width:200px ;
    background-color: whitesmoke;
       border-color: black;
}
.date-of-birth{
    background-color: whitesmoke;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
}
button {
    margin: 10px 10px auto;
    color: azure;
    max-width: 800px;
    min-width: 400px;
    border-radius: 10px 10px 10px 10px;
    max-height: 100px;
    min-height: 50px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background-color: green;
    font-size: 24px;
    font-style: italic;
    font-weight: bolder;
}
.Gender {
    border: none;
    font-size: 18px;
    font-weight: lighter;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bolder;
    text-decoration: solid;
}
.pra{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: normal;
    text-decoration: double;
}
p {
    font-size: 16px;
}

